<div class="synth-body">
  
  <div class="row">
    <div class="col-8">
      <h2 class="in-block v-align">Synthesizer</h2>
      <span class="indicator-light v-align" [class.active]="isPowered"></span>
    </div>
    <div class="col-4 mt-1">
        <i id="keyboard-icon" class="fas fa-keyboard white-text"></i>
        <div class="switch">
            <input type="checkbox" name="toggle" [checked]="isPowered" (click)="togglePower(powerSwitch, kbInterface)" #powerSwitch>
            <label for="toggle">
                <i></i>
            </label>
        </div>
        
    </div>
  </div>

  <div class="row">
    <div class="col-5">
        <p>WAVE TYPE</p>
        <img class="waveform-img" [src]="currentWaveImg">
        <div class="pb-1 pt-1">
            <a data-target="#" class="my-btn" (click)="useSine()" [class.active]="osc.type === 'sine'">SINE</a>
            <a data-target="#" class="my-btn" (click)="useSquare()" [class.active]="osc.type === 'square'">SQUARE</a>
            <a data-target="#" class="my-btn" (click)="useSaw()" [class.active]="osc.type === 'sawtooth'">SAW</a>
            <a data-target="#" class="my-btn" (click)="useTriangle()" [class.active]="osc.type === 'triangle'">TRIANGLE</a>
        </div>
    </div>

    <div class="col-7">
      <div class="octave-wrapper">
        <p>OCTAVE</p>
        <div class="flex" id="octave-buttons">
          <a data-target="#" *ngFor="let octave of octaves" (click)="setOctave(octave)" [class.active]="currentOctave === octave">
            <img src="{{ currentOctave === octave ? octaveSVGActive : octaveSVG }}">
          </a>
        </div>
      </div>
      <img id="keyboard-svg" [src]="SVG + 'keyboard.svg'">
    </div>
  </div>
</div>

<input type="text" id="keyboard-interface" (keydown)="playNote($event)" (keyup)="stopSound()" (focusout)="togglePower(powerSwitch, kbInterface)"
  #kbInterface>
