.flex-center {
    display: flex;
    justify-content: center;
}
.main-content {
    margin-top: 3em;
}
.right-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-content {
    width: 100%;
}
.info-text {
    font-family: Roboto;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 300;
    color: #59526b;
}
#info-large {
    font-size: 3em;
    font-weight: 400;
}

@media (max-width: 950px) {
    .right-content {
        display: none;
    }
    .left-content {
        display: none;
    }
}

@media (max-width: 1200px) {
    #info-large {
        font-size: 2em;
    }
}

.link {
    text-decoration: none;
    margin: 0;
    color: silver !important;
    font-weight: 400 !important;
}
.link:hover {
    text-decoration: underline;
}
.chrome {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
#chrome-icon-link {
    margin-left: 6px;
    padding-top: 5px;
}
.smaller {
    font-size: 18px !important;
}
.dark {
    color: #49425b !important;
}
#chrome-icon {
    max-width: 24px;
}
#only-works {
    margin: 0 5px 0 25px;
}
#learn-more {
    margin: 0 5px 0 25px;
}
.angular {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
#angular-icon {
    max-width: 28px;
    margin-left: 4px;
}
#angular-icon:hover {
    cursor: pointer;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
