<div class="flex-center main-content">
    <div class="left-content"></div>
    <app-drum-module></app-drum-module>
    <div class="right-content">
        <p id="info-large" class="info-text">A simple 4-instrument drum sequencer.</p>
        <p class="info-text dark">Created with  by Chris Collins.</p>
        <div class="chrome">
            <span id="only-works" class="info-text smaller dark">Only really works in</span>
            <a class="info-text smaller link" href="{{ googleChromeURL }}">Google Chrome</a>
            <a id="chrome-icon-link" href="{{ googleChromeURL }}">
                <img class="icon" id="chrome-icon" src="../assets/chrome-icon.png">
            </a>
        </div>
        <div class="angular">
            <span id="learn-more" class="info-text smaller dark">Learn more about</span>
            <a class="info-text smaller link" href="{{ angularURL }}">Angular</a> 
            <img class="icon" id="angular-icon" src="../assets/angular.svg">
        </div>
    </div>
</div>
